@page "/"
@inject IJSRuntime JSRuntime
@inject IJSRuntime JS
@using Reporteria.Services


<h1 class="text-center mt-4 mb-4 fs-4">Reportes</h1>

<!-- Primera fila -->
<div class="row mb-4">
    <div class="col-md-6">
        <div class="accordion" id="accordionColumn1">
            <!-- Acordeón 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button @(IsSectionActive(1) ? "" : "collapsed")" type="button" @onclick="() => ToggleSection(1)" aria-expanded="@(IsSectionActive(1))" aria-controls="collapseOne">
                        (Credencial OS)
                    </button>
                </h2>
                @if (IsSectionActive(1))
                {
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionColumn1">
                        <div class="accordion-body border p-3">
                            <input type="text" class="form-control mb-2" placeholder="Afiliado" @bind="afiliado" />
                            <input type="text" class="form-control mb-2" placeholder="CUIL" @bind="cuil" />
                            <input type="text" class="form-control mb-2" placeholder="DU" @bind="du" />
                            <input type="text" class="form-control mb-2" placeholder="Titular" @bind="titular" />
                            <div class="d-flex justify-content-center">
                                <button @onclick="DownloadPdf" class="btn btn-primary mb-4">
                                    <i class="fas fa-file-pdf"></i> Descargar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="accordion" id="accordionColumn2">
            <!-- Acordeón 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button @(IsSectionActive(2) ? "" : "collapsed")" type="button" @onclick="() => ToggleSection(2)" aria-expanded="@(IsSectionActive(2))" aria-controls="collapseTwo">
                        (Crendencial Sindicato)
                    </button>
                </h2>
                @if (IsSectionActive(2))
                {
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionColumn2">
                        <div class="accordion-body border p-3">
                            <input type="text" class="form-control mb-2" placeholder="Campo 1" />
                            <input type="text" class="form-control mb-2" placeholder="Campo 2" />
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary">
                                    <i class="fas fa-download"></i> Descargar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Segunda fila -->
<div class="row">
    <div class="col-md-6">
        <div class="accordion" id="accordionColumn3">
            <!-- Acordeón 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button @(IsSectionActive(3) ? "" : "collapsed")" type="button" @onclick="() => ToggleSection(3)" aria-expanded="@(IsSectionActive(3))" aria-controls="collapseThree">
                        (Credencial Inspector)
                    </button>
                </h2>
                @if (IsSectionActive(3))
                {
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionColumn3">
                        <div class="accordion-body border p-3">
                            <input type="text" class="form-control mb-2" placeholder="Campo 1" />
                            <input type="text" class="form-control mb-2" placeholder="Campo 2" />
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary">
                                    <i class="fas fa-download"></i> Descargar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="accordion" id="accordionColumn4">
            <!-- Acordeón 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button @(IsSectionActive(4) ? "" : "collapsed")" type="button" @onclick="() => ToggleSection(4)" aria-expanded="@(IsSectionActive(4))" aria-controls="collapseFour">
                        (Recibo)
                    </button>
                </h2>
                @if (IsSectionActive(4))
                {
                    <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionColumn4">
                        <div class="accordion-body border p-3">
                            <input type="text" class="form-control mb-2" placeholder="Número" @bind="numero" />
                            <input type="text" class="form-control mb-2" placeholder="Fecha" @bind="fecha" />
                            <input type="text" class="form-control mb-2" placeholder="Recibido" @bind="recibido" />
                            <input type="text" class="form-control mb-2" placeholder="Domicilio" @bind="domicilio" />
                            <input type="text" class="form-control mb-2" placeholder="CP" @bind="cp" />
                            <input type="text" class="form-control mb-2" placeholder="Localidad" @bind="localidad" />
                            <input type="text" class="form-control mb-2" placeholder="Cantidad" @bind="cantidad" />
                            <input type="text" class="form-control mb-2" placeholder="CUIT" @bind="cuit" />
                            <input type="text" class="form-control mb-2" placeholder="Teléfono" @bind="telefono" />
                            <input type="text" class="form-control mb-2" placeholder="EMP" @bind="emp" />
                            <input type="text" class="form-control mb-2" placeholder="Tipo de Pago" @bind="tipodepago" />
                            <input type="text" class="form-control mb-2" placeholder="Período" @bind="periodo" />
                            <input type="text" class="form-control mb-2" placeholder="Ubicación" @bind="ubicacion" />
                            <div class="d-flex justify-content-center">
                                <button @onclick="DownloadPdfRecibo" class="btn btn-primary">
                                    <i class="fas fa-download"></i> Descargar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    // Solo una sección activa a la vez
    private int? activeSection = null;
    // CredencialOS
    private string afiliado;
    private string cuil;
    private string du;
    private string titular;
    // Recibo
    private string numero;
    private string fecha;
    private string recibido;
    private string domicilio;
    private string cp;
    private string localidad;
    private string cantidad;
    private string cuit;
    private string telefono;
    private string emp;
    private string tipodepago;
    private string periodo;
    private string ubicacion;

    private void ToggleSection(int sectionNumber)
    {
        if (activeSection == sectionNumber)
        {
            activeSection = null; // Cierra la sección si ya estaba abierta
        }
        else
        {
            activeSection = sectionNumber; // Abre la sección clickeada y cierra las demás
        }
    }

    private bool IsSectionActive(int sectionNumber) => activeSection == sectionNumber;
    private async Task DownloadPdf()
    {
        string url = $"/download-credencial?afiliado={Uri.EscapeDataString(afiliado)}&cuil={Uri.EscapeDataString(cuil)}&du={Uri.EscapeDataString(du)}&titular={Uri.EscapeDataString(titular)}";
        await JS.InvokeVoidAsync("downloadFileFromUrl", url);
    }
    private async Task DownloadPdfRecibo()
    {
        string url = $"/download-recibo?" +
                     $"numero={Uri.EscapeDataString(numero ?? string.Empty)}&" +
                     $"fecha={Uri.EscapeDataString(fecha ?? string.Empty)}&" +
                     $"recibido={Uri.EscapeDataString(recibido ?? string.Empty)}&" +
                     $"domicilio={Uri.EscapeDataString(domicilio ?? string.Empty)}&" +
                     $"cp={Uri.EscapeDataString(cp ?? string.Empty)}&" +
                     $"localidad={Uri.EscapeDataString(localidad ?? string.Empty)}&" +
                     $"cantidad={Uri.EscapeDataString(cantidad ?? string.Empty)}&" +
                     $"cuit={Uri.EscapeDataString(cuit ?? string.Empty)}&" +
                     $"telefono={Uri.EscapeDataString(telefono ?? string.Empty)}&" +
                     $"emp={Uri.EscapeDataString(emp ?? string.Empty)}&" +
                     $"tipodepago={Uri.EscapeDataString(tipodepago ?? string.Empty)}&" +
                     $"periodo={Uri.EscapeDataString(periodo ?? string.Empty)}&" +
                     $"ubicacion={Uri.EscapeDataString(ubicacion ?? string.Empty)}";

        await JS.InvokeVoidAsync("downloadFileFromUrl", url);
    }
}
 